@import "_mixin";

.dashboard-product-box {
  background-color: white;
  padding: 2rem;
  overflow: auto;
  @include square(100%);
}

.add-product-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  @include square(2.5rem);
  @include flex(row, center, center, 0);
  border-radius: 50%;
  background-color: rgb(160, 77, 255);
  color: white;
  &:hover {
    opacity: 0.8;
  }
}

.table-pagination {
  @include flex;
  padding: 2rem;
  > button {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: rgb(106, 0, 255);
    color: white;
    &:disabled {
      background-color: rgba(0, 115, 255, 0.1);
      cursor: not-allowed;
    }
  }
}
